.hotel-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (min-width: 576px) {
  .hotel-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
