.navbar {
  background: var(--mainWhite);
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primaryColor);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--primaryColor);
}

.logo {
  width: 5rem;
}

@media screen and (max-width: 600px) {
  .nav-links a {
    font-size: 0.9rem;
  }
}
